.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: solid lightgray 1px;
    cursor: pointer;
}
/* makes a little transparent effect on hover */
.searchResult:hover {
    opacity: 0.8;
}
.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.heart {
    position: absolute;
    top: 20px;
    right: 40px;
}
.infoTop {
    width: 40vw;
}
.infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}
.infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}
.infoBottom {
    display: flex;
    justify-content: space-between;
}
.star {
    color: red;
}
.stars {
    display: flex;
    align-items: center;
}
.price > p {
    text-align: right;
}
.price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}